@model IEnumerable<Register>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Details";
}



<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Users Details
                        <a asp-action="Add" asp-controller="Admin" class="btn btn-primary float-end">Add user</a>
                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Mobile No.</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.userID</td>
                                    <td>@u.uname</td>
                                    <td>@u.uemail</td>
                                    <td>@u.upass</td>
                                    <td>@u.umob</td>
                                    <td>
                                        <a asp-action="Edit" class="btn btn-info btn-sm" asp-controller="Admin" asp-route-id="@u.userID">Edit</a>
                                        <a asp-action="Delete" class="btn btn-success btn-sm" asp-controller="Admin" asp-route-id="@u.userID">Delete</a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
                <div class="card-header">
                    <a asp-action="Index" asp-controller="Admin" class="btn btn-primary float-end">Dashboard</a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
